body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1caa9c;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 3px solid #17b785;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

#game-status {
    margin-top: 20px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #aeeee8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00a98d;
}

#status {
    font-size: 20px;
}
